<div class="container mt-5" >
    <div class="row justify-content-center">
        <div class="col-md-3 ">
           
            <div class="card">
                <div class="card-body">
                    <div>
                        <img [src]="userProfile.avatar" alt="" width="200px" height="200px">
                        <p>{{userProfile.first_name}} {{userProfile.last_name}}</p>

                        <p>{{userProfile.email}}</p>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
   
</div>
